.App{

  width:100vw;
  height:100vh;
  background-color:#141414
}
html{
  background-color: #141414;
}
/*********************************************************

NAV CSS
**********************************************************/
.logo img{
  width:9vw;
  padding-top:0.5rem;
}
.nav-container{
  padding:15px 1rem 0.5rem 15px;
  display:inline-flex;
  flex-direction: space-around;
  gap:3rem;
  align-items: center;
  
}

.profile-cntnr{
 width:30vw;
 height:10vh;
 float:right;
 

}

.nav-bar{
  width:100vw;
  height:10vh;

  
}

.hero-cntnr{
  width:100vw;
  height:50vh;
  
  
}

.movie-hero{
  display:flex;
  justify-content: center;
  align-items:center;
  height:inherit;
}
.nav-bar ul{
  color:#e5e5e5;
  font-size:14px;
  font-weight:500;
}

/********************************************************************************

MOVIE CAROUSEL


***********************************************************/
.movies{
  width:100vw;
  height:25vh;
  
}

.movies p{
  display:flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  
}

/********************************************************************************

POSTER


***********************************************************/

.poster-cntnr {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poster{
 width:inherit;
 height:inherit;
}