.App{

  width:100vw;
  height:100vh;
}


.nav-container{
  padding:15px 1rem 0.5rem 15px;
  display:inline-flex;
  flex-direction: space-around;
  gap:3rem;
  align-items: center;
  
}

.nav-bar{
  width:100vw;
  height:10vh;
  background-color: lightblue;
  
}
.profile-cntnr{
  
}  

.hero-cntnr{
  width:100vw;
  height:50vh;
  
  background-color: aliceblue;
}

.movie-hero{
  display:flex;
  justify-content: center;
  align-items:center;
  height:inherit;
}

/********************************************************************************

MOVIE CAROUSEL


***********************************************************/
.movies{
  width:100vw;
  height:25vh;
  
}

.movies p{
  display:flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  
}